---
layout: default
---
<head>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>

  <script src="/bower_components/threejs/build/three.min.js" charset="utf-8"></script>
  <script src="/bower_components/z3d/js/OrbitControls.js" charset="utf-8"></script>
  <script src="/bower_components/z3d/js/plot.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/css/post.css">
  <!-- twitter buttons -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</head>
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if site.twitter_username %} • <a href="https://twitter.com/Epstein_N" class="twitter-follow-button" data-show-count="false">Follow @Epstein_N</a>

      <!-- <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>{% endif %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
