---
layout: default
---
<div class="post" hidden>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% if site.twitter_username %}
        <a href="https://twitter.com/epstein_n" class="twitter-follow-button" data-show-count="false">
          Follow @epstein_n
        </a>
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<script type="text/javascript">
  $(function() {
    $('#wrap').removeAttr('id');
    $('div').removeAttr('hidden');
  });
</script>
